* {
	box-sizing: border-box;
}
body {
	background: url('texture.png');
}

/* Man on the bike */
#right-wheel,
#left-wheel {
	animation: wheel 2s linear infinite;
	transform-origin: center;
	transform-box: fill-box;
}
#bike-man {
	animation: bike 1s ease-in-out infinite alternate;
	transform-origin: bottom;
}
#hat {
	animation: hat 1s ease-in-out infinite alternate;
	transform-origin: center;
	transform-box: fill-box;
}

@keyframes wheel {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes bike {
	from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(20deg);
	}
}

@keyframes hat {
	from {
		transform: translateY(0) rotateZ(0);
	}
	to {
		transform: translateY(45%) rotateZ(5deg);
	}
}

/* Girl on the wind*/

#leaf-1,
#leaf-2,
#leaf-3,
#leaf-4,
#leaf-5,
#leaf-7,
#leaf-6 {
	animation: leaf 5s linear infinite;
	transform-origin: center;
	transform-box: fill-box;
}

#hair-1 {
	animation: hair 5s ease-in-out infinite;
	transform-origin: center;
	transform-box: fill-box;
}


@keyframes leaf {
	0% {
		opacity: 1;
		transform: rotateY(0) translate(0, 0);
	}
	25% {
		transform: rotateY(-20deg) translate(-50%, -50%);
	}
	50% {
		opacity: 0;
		transform: rotateY(20deg) translate(-100%, -100%);
	}
	51% {
		transform: rotateY(0) translate(0, 0);
	}
	80% {
		opacity: 0;
		transform: rotateY(0) translate(0, 0) scale(0.5);
	}
	95%	{
		transform: rotateY(0) translate(0, 0) scale(1);
	}
	100% {
		opacity: 1;
	}
}

@keyframes hair {
	0% {
		transform: rotate(0) translate(0);
	}
	25% {
		transform: rotate(10deg) translate(-2%);
	}
	50% {
		transform: rotate(15deg) translate(-2%);
	}
	100% {
		transform: rotate(0) translate(0);
	}
}

/* Hearts */
#heart-2,
#heart-3,
#heart-4,
#heart-5,
#heart-1 {
	animation: heart 2s ease-in-out infinite;
	transform-origin: center;
	transform-box: fill-box;
}

@keyframes heart {
	0% {
		opacity: .8;
		transform: scale(1);
	}
	/*25% {
		transform: scale(1);
	}*/
	50% {
		opacity: 0.7;
		transform: scale(1);
	}
	55% {
		transform: scale(0.7);
	}
	60% {
		opacity: 1;
		transform: scale(1.5);
	}
	65% {
		transform: scale(1);
	}
	80% {
		opacity: 1;
	}
	95%	{
		transform: rotateY(0) translate(0, 0) scale(1);
	}
	100% {
		opacity: .8;
		transform: scale(1);

	}
}

/* Barbeque man */
#line-1,
#line-2,
#line-3 {
	animation: line 5s linear infinite;
	transform-origin: center;
	transform-box: fill-box;
}

#head-1 {
	animation: head 2s linear infinite alternate;
	transform-origin: bottom left;
	transform-box: fill-box;
}

@keyframes line {
	0% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	70% {
		opacity: 0;
		transform: translateY(-50%) scale(1.6);
	}
	71% {
		opacity: 0;
		transform: translateY(20%);
	}
	99% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes head {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(-1deg);
	}
}